<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
   <h1> Welcome To TextUtils </h1>
    <form method="get" action="/analyse">
        <textarea name="text" id="" cols="42" rows="10" style="width: 1239px; height: 111px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove punctuation <br>
        <input type="checkbox" name="uppercase">TO UPPERCASE <br>
        <input type="checkbox" name="newline">NewLine Remover <br>
        <input type="checkbox" name="extraspace">Extra Space Remover <br>
        <input type="checkbox" name="chrcounter">Character Cunter <br>
        <button type="submit">Analyse</button>
    </form>
</body>
</html>